.car-details {
  font-family: Arial, sans-serif;
  color: #333;
  margin-bottom: 20px;

  &__make {
    font-weight: bold;
  }

  &__colour {
    color: #555;
  }

  &__red-text {
    color: red;
    font-weight: bold;
  }

  &__code {
    color: #777;
    font-style: italic;
  }
}
