@import "Styles/variable.scss";

// .app {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

// h1 {
//   font-size: 24px;
//   margin-bottom: 20px;
// }
