@import "./variable.scss";

$mui-palette-primary-main: #6b7cff;
$mui-palette-primary-light: #42a5f5;
$mui-palette-theme-spacing: 8px;

.body {
  font-family: Roboto, sans-serif;
  background-color: $background-color;
  overflow-x: hidden;
  * {
    font-family: Roboto, sans-serif;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #d1d8de;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $primary-color;
  }
  * {
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: #d1d8de;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $secondary-color;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $primary-color;
    }
  }
}

@mixin Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: $background-color;
  font-family: sans-serif;
  border-radius: 6px;
  background-color: $background-color;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.2s ease-in-out;
  width: $form-width-small;
  height: $form-height-small;

  @include md {
    width: $form-width-medium;
    height: $form-height-medium;
  }

  @include lg {
    width: $form-width-large;
    height: $form-height-large;
  }
}

@mixin formCard {
  position: relative;
  padding: 10% 5%;
  width: $form-width-small;
  height: $form-height-small;

  @include md {
    width: $form-width-medium;
    height: $form-height-medium;
  }

  @include lg {
    width: $form-width-large;
    height: $form-height-large;
  }
  .button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    transform: translate(30%, 10%);
    width: 20%;
  }
}

@mixin formField {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;

  label {
    margin-bottom: 0.3rem;
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    color: $primary-color;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
}

@mixin formErrorText {
  color: $error-color;
  font-size: 1.2rem;
  margin-top: 0.4rem;
  display: inline-block;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@mixin boxShadow {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

@mixin flex(
  $direction: row,
  $gap: 10px,
  $padding: 10px,
  $justify: center,
  $align: center
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  padding: $padding;
  text-align: center;
}
@mixin button {
  width: 40%;
  height: 60px;
  margin-left: 30%;
  font-size: 22px;
  font-weight: 500;
  @include md {
    width: 60%;
    margin-left: 20%;
  }
  @include sm {
    margin-left: 5%;
    width: 90%;
    height: 50px;
    font-size: 16px;
  }
}
